@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  font-weight: 700;
  background-color: #f2f2f2;

  margin: 0 auto;

  display: flex;
  justify-content: center;
}

label {
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
